<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Title </th>
                        <th> date</th>
                        <th>location</th>
                        <th> description </th>
                        <th>participants</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td>{{title}}</td>
                        <td>{{date}}</td>
                        <td>{{location}}</td>
                        <td>{{description}}</td>
                        <td>{{participants}}</td>
                        <td>{{owner}}</td>

                        <td><button class="btn btn-primary" style="background-color: rgb(157, 101, 157);color:white">
                                <a href="/edit/{{_id}}">
                                    Edit event</a>
                            </button>
                        <td><button class="btn btn-primary" style="background-color: rgb(157, 101, 157);color:white">
                                <a href="/delete/{{_id}}">
                                    Delete event</a>
                            </button>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>