<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Title </th>
                        <th> date</th>
                        <th>location</th>
                        <th> description </th>
                        <th>participants</th>
                        <th>Event creator</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each fiesta}}
                    <tr>

                        <td>{{title}}</td>
                        <td>{{date}}</td>
                        <td>{{location}}</td>
                        <td>{{description}}</td>
                        <td>{{participants}}</td>
                        <td>{{owner}}</td>

                        <td><button class="btn btn-primary" style="background-color: rgb(157, 101, 157);color:white">
                                <a href="/{{_id}}">
                                    Explore event details</a>
                            </button>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>