<h1>Look at the garden of: </h1>

<div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="mr-3"><strong> {{user.name}}</strong> </h2>
                <div class="d-flex justify-content-start align-items-center">
                    <p class="mr-3"><strong>Nickname:</strong> {{user.nickname}}</p>
                    <p><strong>Email:</strong> {{user.email}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Common Name</th>
                            <th>Sunlight</th>
                            <th>Watering</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each details}}
                        <tr>
                            <td>
                                <h3>{{common_name}}</h3>
                            </td>
                            <td>{{sunlight}}</td>
                            <td>{{watering}}</td>
                            <td><img src="{{default_image.medium_url}}" alt="Plant Image" style="max-width: 100px;">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {{#if isAdmin}}
    <form action="/user/categoryvisitor/{{user._id}}" method="POST">
        <input type="submit" value="visitor" class=" btn-white btn-xlm">
    </form>

    <form action="/user/categoryplanter/{{user._id}}" method="POST">
        <input type="submit" value="planter" class="btn-white btn-lm">
    </form>


    <form action="/user/delete/{{user._id}}" method="POST">
        <input type="submit" value="delete" class="btn btn-primary" style="background-color: rgb(157, 101, 157);">
    </form>

    <a href="/user/edit/{{user._id}}" class="btn btn-dark block">Edit</a>
    {{/if}}

    {{#unless isAdmin}}
    {{#if isOwner}}
    <form action="/user/delete/{{user._id}}" method="POST">
        <input type="submit" value="delete" class="btn btn-primary" style="background-color: rgb(157, 101, 157);">
    </form>

    <a href=" /user/edit/{{user._id}}" class="btn btn-dark block">Edit</a>
    {{/if}}
    {{/unless}}
    <a href="/user/list">Go back to list</a>

</div>