<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>You Personal profile
                    <tr>
                        <th> Nickname </th>
                        <th> Name </th>
                        <th>email</th>
                        <th> My garden</th>
                        <th>Events I want to partecipate to </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>


                        <td>{{nickname}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>.....</td>
                        <td>.....</td>

                        <td><button class="btn btn-primary" style="background-color: rgb(157, 101, 157);">
                                <a href=`/edit/${{eventid}}` class="btn btn-primary"
                                    style="background-color: rgb(157, 101, 157);">
                                    Edit profile </a></button>
                        </td>
                        <td><button class="btn btn-primary" style="background-color: rgb(157, 101, 157);">
                                <a href="/user/logout" class="btn btn-primary"
                                    style="background-color: rgb(157, 101, 157);">
                                    Logout</a></button>

                            <form action="/delete/{{_id}}" method="POST">
                                <input type="submit" value="Delete" class="btn btn-primary"
                                    style="background-color: rgb(157, 101, 157);">
                            </form>






                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>